In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'raw/output_otomotoBest.csv')
df.head()

,fuel_type,gearbox,mileage,model,name,place,price,seller_type,users_data,year
0,Benzyna,Manualna,62 000 km,Abarth,Abarth 595,Bydgoszcz (Kujawsko-pomorskie),63 000,Prywatny sprzedawca,1 368 cm3 • 145 KM • Abarth 595 70th Aniversar...,2019
1,Benzyna,Manualna,56 800 km,Abarth,Abarth 695,Bielsko-Biała (Śląskie),99 000,Prywatny sprzedawca,1 368 cm3 • 165 KM • ABARTH 695C XSR YAMAHA ca...,2018
2,Benzyna,Manualna,59 000 km,Abarth,Abarth 595,Warszawa (Mazowieckie),71 000,Prywatny sprzedawca,1 368 cm3 • 165 KM • Abarth 595 - 165 KM | 59 ...,2018
3,Benzyna,Manualna,80 089 km,Abarth,Abarth 595,Jaworze (Śląskie),59 500,Prywatny sprzedawca,1 368 cm3 • 164 KM • fiat 500 Abarth C w wersj...,2016
4,Benzyna,Manualna,33 000 km,Abarth,Abarth 595,Wojcieszów (Dolnośląskie),70 000,NaN,1 368 cm3 • 145 KM • Bardzo ładny ABARTH 595 w...,2021

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3269 entries, 0 to 3268
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fuel_type    3269 non-null   object
 1   gearbox      3269 non-null   object
 2   mileage      3269 non-null   object
 3   model        3269 non-null   object
 4   name         3269 non-null   object
 5   place        3269 non-null   object
 6   price        3269 non-null   object
 7   seller_type  2281 non-null   object
 8   users_data   3269 non-null   object
 9   year         3269 non-null   object
dtypes: object(10)
memory usage: 255.5+ KB

In [23]:
df.describe()

,fuel_type,gearbox,mileage,model,name,place,price,seller_type,users_data,year
count,3269,3269,3269,3269,3269,3269,3269,2281,3269,3269
unique,7,3,1196,133,1396,698,1058,3,2273,72
top,Benzyna,Automatyczna,1 km,Abarth,Chrysler Pacifica,Warszawa (Mazowieckie),16 900,Prywatny sprzedawca,2 143 cm3 • 204 KM • Silnik 651 niski przebieg...,2024
freq,1927,2028,153,64,44,332,31,2271,19,444

In [24]:
df["seller_type"] = df["seller_type"].fillna('Anonimowy sprzedawca')

In [25]:
split_columns = df["users_data"].str.split(' • ', expand=True)

df[['engine_capacity', 'horsepower', 'additional_specification']] = split_columns.iloc[:, :3].reindex(columns=range(3))
df.drop(columns=['users_data'], inplace=True)

In [26]:
df.head()

,fuel_type,gearbox,mileage,model,name,place,price,seller_type,year,engine_capacity,horsepower,additional_specification
0,Benzyna,Manualna,62 000 km,Abarth,Abarth 595,Bydgoszcz (Kujawsko-pomorskie),63 000,Prywatny sprzedawca,2019,1 368 cm3,145 KM,Abarth 595 70th Aniversario 2019/2020 - pierws...
1,Benzyna,Manualna,56 800 km,Abarth,Abarth 695,Bielsko-Biała (Śląskie),99 000,Prywatny sprzedawca,2018,1 368 cm3,165 KM,ABARTH 695C XSR YAMAHA cabriolet Akrapovic CES...
2,Benzyna,Manualna,59 000 km,Abarth,Abarth 595,Warszawa (Mazowieckie),71 000,Prywatny sprzedawca,2018,1 368 cm3,165 KM,Abarth 595 - 165 KM | 59 000 km | Oryginalny w...
3,Benzyna,Manualna,80 089 km,Abarth,Abarth 595,Jaworze (Śląskie),59 500,Prywatny sprzedawca,2016,1 368 cm3,164 KM,fiat 500 Abarth C w wersji 595 Turismo (cabrio...
4,Benzyna,Manualna,33 000 km,Abarth,Abarth 595,Wojcieszów (Dolnośląskie),70 000,Anonimowy sprzedawca,2021,1 368 cm3,145 KM,Bardzo ładny ABARTH 595 w wyjątkowej stylizacj...

In [27]:
df['horsepower'].value_counts()

horsepower
140 KM                                                             131
150 KM                                                             127
177 KM                                                              97
163 KM                                                              91
110 KM                                                              75
                                                                  ...
Mini Samochód elektryczny bez prawa jazdy SARINI Tito Y LIMITED      1
Samochód elektryczny OD 14 ROKU ŻYCIA RATY, DOWÓZ promocja           1
i X8 Samochód elektryczny OD 14 ROKU ŻYCIA RATY, DOWÓZ promocja      1
Niski przebieg, Samochód DEMO, od dealera                            1
8 lat gwarancji na baterię                                           1
Name: count, Length: 475, dtype: int64

In [28]:
df = df[df['horsepower'].str.len() <= 6]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3071 entries, 0 to 3268
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   fuel_type                 3071 non-null   object
 1   gearbox                   3071 non-null   object
 2   mileage                   3071 non-null   object
 3   model                     3071 non-null   object
 4   name                      3071 non-null   object
 5   place                     3071 non-null   object
 6   price                     3071 non-null   object
 7   seller_type               3071 non-null   object
 8   year                      3071 non-null   object
 9   engine_capacity           3071 non-null   object
 10  horsepower                3071 non-null   object
 11  additional_specification  2948 non-null   object
dtypes: object(12)
memory usage: 311.9+ KB

In [29]:
df = df[df['engine_capacity'].str.contains('cm3')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3070 entries, 0 to 3268
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   fuel_type                 3070 non-null   object
 1   gearbox                   3070 non-null   object
 2   mileage                   3070 non-null   object
 3   model                     3070 non-null   object
 4   name                      3070 non-null   object
 5   place                     3070 non-null   object
 6   price                     3070 non-null   object
 7   seller_type               3070 non-null   object
 8   year                      3070 non-null   object
 9   engine_capacity           3070 non-null   object
 10  horsepower                3070 non-null   object
 11  additional_specification  2948 non-null   object
dtypes: object(12)
memory usage: 311.8+ KB

In [30]:
df['fuel_type'].unique()

array(['Benzyna', 'Diesel', 'Hybryda', 'Benzyna+LPG', 'Hybryda Plug-in',
       'Elektryczny'], dtype=object)

In [31]:
df['engine_capacity'].value_counts()

engine_capacity
1 598 cm3    204
1 998 cm3    130
1 984 cm3    108
1 968 cm3     94
1 995 cm3     91
            ...
6 900 cm3      1
2 922 cm3      1
2 401 cm3      1
900 cm3        1
1 234 cm3      1
Name: count, Length: 357, dtype: int64

In [32]:
df["additional_specification"] = df["additional_specification"].fillna('Brak dodatkowych informacji')

In [33]:
df['gearbox'].unique()

array(['Manualna', 'Automatyczna'], dtype=object)

In [34]:
df['gearbox'].value_counts()

gearbox
Automatyczna    1830
Manualna        1240
Name: count, dtype: int64

In [35]:
df = df[df['gearbox'] != 'gearbox']
df['gearbox'].value_counts()

gearbox
Automatyczna    1830
Manualna        1240
Name: count, dtype: int64

In [36]:
df['seller_type'].value_counts()

seller_type
Prywatny sprzedawca     2198
Anonimowy sprzedawca     863
Firma                      9
Name: count, dtype: int64

In [37]:
df['mileage'] = df['mileage'].str.replace(' km', '', regex=False).str.replace(' ', '').astype(int)
df['horsepower'] = df['horsepower'].str.replace(' KM', '', regex=False).str.replace(' ', '').astype(int)
df['engine_capacity'] = df['engine_capacity'].str.replace(' cm3', '', regex=False).str.replace(' ', '').astype(int)
df['is_gearbox_automatic'] = df['gearbox'].map({
    'Manualna': 0,
    'Automatyczna': 1
})

df['price'] = df['price'].str.replace(' ', '').astype(int)
df['region'] = df['place'].str.extract(r'\((.*?)\)')


df.rename(columns={
    'mileage': 'mileage [km]',
    'horsepower': 'horsepower [km]',
    'price': 'price [pln]',
    'engine_capacity': 'engine_capacity [cm3]',
    }, inplace=True)
df.head()

,fuel_type,gearbox,mileage [km],model,name,place,price [pln],seller_type,year,engine_capacity [cm3],horsepower [km],additional_specification,is_gearbox_automatic,region
0,Benzyna,Manualna,62000,Abarth,Abarth 595,Bydgoszcz (Kujawsko-pomorskie),63000,Prywatny sprzedawca,2019,1368,145,Abarth 595 70th Aniversario 2019/2020 - pierws...,0,Kujawsko-pomorskie
1,Benzyna,Manualna,56800,Abarth,Abarth 695,Bielsko-Biała (Śląskie),99000,Prywatny sprzedawca,2018,1368,165,ABARTH 695C XSR YAMAHA cabriolet Akrapovic CES...,0,Śląskie
2,Benzyna,Manualna,59000,Abarth,Abarth 595,Warszawa (Mazowieckie),71000,Prywatny sprzedawca,2018,1368,165,Abarth 595 - 165 KM | 59 000 km | Oryginalny w...,0,Mazowieckie
3,Benzyna,Manualna,80089,Abarth,Abarth 595,Jaworze (Śląskie),59500,Prywatny sprzedawca,2016,1368,164,fiat 500 Abarth C w wersji 595 Turismo (cabrio...,0,Śląskie
4,Benzyna,Manualna,33000,Abarth,Abarth 595,Wojcieszów (Dolnośląskie),70000,Anonimowy sprzedawca,2021,1368,145,Bardzo ładny ABARTH 595 w wyjątkowej stylizacj...,0,Dolnośląskie

In [38]:
df.to_csv(r'cleaned/output_cleaned_full.csv', index=False)

In [39]:
from category_encoders import TargetEncoder

df_encoded = df.copy()
df_encoded.drop(columns=['additional_specification','gearbox','place'], inplace=True)
target_encoder = TargetEncoder(cols=['fuel_type', 'model', 'name', 'seller_type', 'region'])

df_encoded = target_encoder.fit_transform(df_encoded, df_encoded['price [pln]'])


df_encoded.head()

,fuel_type,mileage [km],model,name,price [pln],seller_type,year,engine_capacity [cm3],horsepower [km],is_gearbox_automatic,region
0,178162.801039,62000,101613.193302,85505.357299,63000,90852.118289,2019,1368,145,0,80689.855237
1,178162.801039,56800,101613.193302,133323.671059,99000,90852.118289,2018,1368,165,0,128266.815789
2,178162.801039,59000,101613.193302,85505.357299,71000,90852.118289,2018,1368,165,0,215862.601274
3,178162.801039,80089,101613.193302,85505.357299,59500,90852.118289,2016,1368,164,0,128266.815789
4,178162.801039,33000,101613.193302,85505.357299,70000,265742.166860,2021,1368,145,0,104437.423222

In [40]:
df_encoded.to_csv(r'cleaned/output_encoded.csv', index=False)