In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import VotingRegressor
import pandas as pd

In [3]:
df = pd.read_csv(r'../cleaned/output_encoded.csv')
df.head()

,fuel_type,mileage [km],model,name,price [pln],seller_type,year,engine_capacity [cm3],horsepower [km],is_gearbox_automatic,region
0,178162.801039,62000,101613.193302,85505.357299,63000,90852.118289,2019,1368,145,0,80689.855237
1,178162.801039,56800,101613.193302,133323.671059,99000,90852.118289,2018,1368,165,0,128266.815789
2,178162.801039,59000,101613.193302,85505.357299,71000,90852.118289,2018,1368,165,0,215862.601274
3,178162.801039,80089,101613.193302,85505.357299,59500,90852.118289,2016,1368,164,0,128266.815789
4,178162.801039,33000,101613.193302,85505.357299,70000,265742.166860,2021,1368,145,0,104437.423222

In [4]:
y = df['price [pln]']
X = df.drop(columns=['price [pln]'])
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
linear_regression = LinearRegression()
tree_model = DecisionTreeRegressor(random_state = 42, ccp_alpha=35370555.103148766)
svr_model = SVR(kernel='rbf', C=11, epsilon=0.1, gamma=0.1)

ensemble_model = VotingRegressor(estimators=[('lr', linear_regression), ('dt', tree_model), ('svc', svr_model)])

In [6]:
ensemble_model.fit(X_train, y_train)
print(f"Accuracy of the ensemble: {ensemble_model.score(X_test, y_test)}")

Accuracy of the ensemble: 0.7779312338167187